body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background: #37517E;
    color: #fff;
    padding: 16px 0;
  }
  
  header h1 {
    text-align: center;
    margin: 0;
    font-size: 18px;
  }
  
  nav {
    text-align: center;
    margin: 16px 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 16px;
    font-size: 16px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .main {
    text-align: center;
    padding: 32px 16px;
    background: #f4f4f4;
  }
  
  .main h1 {
    font-size: 34px;
    margin-bottom: 16px;
  }
  
  .main p {
    font-size: 18px;
    margin-bottom: 21px;
  }
  
  .main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 21px;
  }
  
  .main .button {
    display: inline-block;
    margin: 9px;
    padding: 9px;
    font-size: 16px;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .main .button:hover {
    background: #0056b3;
  }
  
  .newsletter {
    padding: 32px 16px;
    background: #333;
    color: #fff;
    text-align: center;
  }
  
  .newsletter h2 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  
  .newsletter p {
    font-size: 16px;
    margin-bottom: 18px;
  }
  
  .newsletter .form {
    display: flex;
    justify-content: center;
    gap: 9px;
  }
  
  .newsletter .form input {
    padding: 9px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 300px;
  }
  
  .newsletter .form .button  {
    padding: 9px 16px;
    font-size: 16px;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .newsletter .button:hover {
    background: #0056b3;
    
  }
  

  footer {
    background:#37517E;
    color: #fff;
    padding: 2rem 0;
  }
  
  footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  footer h5 {
    margin-bottom: 16px;
    font-size: 18px;
  }
  
  footer p,
  footer ul {
    font-size: 11px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    margin: 9px 0;
  }
  
  footer ul a {
    color: #fff;
    text-decoration: none;
  }
  
  footer ul a:hover {
    text-decoration: underline;
  }
  
  footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 9px;
  }
  
  footer .social-icons .button {
    padding: 9px 16px;
    font-size: 16px;
    color: #fff;
    background: #555;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  footer .social-icons .button:hover {
    background: #007bff;
  }
  